@import './variaveis.scss';
@import './mixin.scss';

.caminar {
    box-shadow: 1px 1px 13px 1px $cor-preto;
    margin: 0 1.5625em 3.75em 1.5625em;

    .fringilla {
        .fringilla-img {
            max-height: 100%;
            vertical-align: middle;
            width: 100%;
        }

        .fringilla-box-titulo {
            background-color: $cor-branco;
            padding: 3.5em 4em;
            text-align: center;

            .fringilla-titulo {
                color: $cor-preto-claro;
                font-size: 1.8em;

                &:after {
                    @include linha;
                }
            }

            .fringilla-secundario {
                color: $cor-cinza-claro;
                @include text-secundario;
            }
        }
        .fringilla-box-textos {
            color: $cor-cinza;
            background-color: $cor-branco-escuro;
            font-weight: normal;
            padding: 5.5em 4em 3.5em 4em;
        }
    }

    .convallis {
        display: flex;
        background-color: $cor-preto-claro;
        justify-content: center;
        @include tamanho-total;
    }

    .convallis-boxs {
        background-color: $cor-preto;
        margin: 5.6em 0;
        max-width: 87%;

        .convallis-box-titulo {
            padding: 2em 4em;
            text-align: center;

            .convallis-titulo {
                color: $cor-branco;
                font-size: 1.8em;

                &:after {
                    @include linha;
                }
            }

            .convallis-secundario {
                color: $cor-cinza-escuro;
                @include text-secundario;
            }
        }

        .convallis-box {
            margin: 0;
            overflow: hidden;
            padding: 0;

            .convallis-img {
                cursor: pointer;
                @include tamanho-total;

                &:hover {
                    transform: scale(1.05);
                    transition: 1.2s;
                }
            }
        }
    }
}

.viverra {
    background-color: $cor-branco;

    .viverra-order {
        background-color: $cor-preto-claro;

        @media (max-width: 992px) {
            order: 1;
        }

        .viverra-box-texto {
            @include centralizar-textos;
            color: $cor-branco-escuro;
        }

        .viverra-img {
            @include tamanho-total;
        }
    }

    .viverra-box {
        margin: 0;
        padding: 0;

        .viverra-box-texto {
            @include centralizar-textos;
        }

        .viverra-img {
            @include tamanho-total;
        }
    }
}

.modal {
    display: none;

    .modal-fundo {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.7);
        @include tamanho-total;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4.375em;

        .modal-conteudo {
            width: 700px;
            height: 450px;
            background-color: antiquewhite;
            padding: 0.625em;
            position: relative;

            .modal-photo {
                @include tamanho-total;
            }

            .modal-button {
                cursor: pointer;
                position: absolute;
                top: 0px;
                right: -61px;
                padding: 0.9375em 1.25em;
                background: #1E1F23;
                color: white;
                font-size: 1.1875em;
                font-weight: bold;

                &:hover {
                    transition: 0.4s;
                    color: #5ee1a7;
                }
            }
        }
    }
}
